@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.app {
    /*padding: 20px;*/
}

.incitingText {
    color: #1900D5;
    cursor: pointer;
    marginLeft: 5px;
}


/*.card__wrapper-property {*/
/*    position: relative;*/
/*}*/

/*.wrapper-property__list {*/
/*    position: absolute;*/
/*    top: -35px;*/
/*    right: -35px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: end;*/
/*}*/

/*.wrapper-property__item {*/
/*    margin-bottom: 12px;*/
/*}*/